funcsigs==0.4
html5lib==0.999
idna==2.7
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10
jsonpatch==1.10
jsonpointer==1.9
jsonschema==2.5.1
keyring==7.3
keystoneauth1==2.4.1
kiwisolver==1.0.1
kombu==4.2.1
language-selector==0.1
lxml==3.5.0
MarkupSafe==1.0
matplotlib==3.0.1
monotonic==1.5
msgpack-python==0.4.6
munch==2.3.2
netaddr==0.7.19
netifaces==0.10.7
numpy==1.15.3
oauthlib==1.0.3
openstacksdk==0.8.1
os-client-config==1.16.0
oslo.config==3.9.0
oslo.i18n==3.22.1
oslo.serialization==2.4.0
oslo.utils==3.37.1
pandas==0.23.4
pbr==5.1.1
Pillow==3.1.2
positional==1.0.1
prettytable==0.7.2
pyasn1==0.1.9
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
PyJWT==1.3.0
pyparsing==2.3.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.2
python-cinderclient==1.6.0
python-dateutil==2.7.5
python-debian==0.1.27
python-glanceclient==2.0.0
python-keystoneclient==2.3.1
python-neutronclient==4.1.1
python-novaclient==3.3.1
python-openstackclient==2.3.1
python-systemd==231
pytz==2018.7
PyYAML==3.13
redis==2.10.6
requests==2.9.1
requestsexceptions==1.4.0
roman==2.0.0
SecretStorage==2.1.3
simplejson==3.8.1
six==1.11.0
ssh-import-id==5.5
stevedore==1.12.0
ufw==0.35
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.13.1
vine==1.1.4
warlock==1.1.0
Werkzeug==0.15.3
wrapt==1.10.11
                                                                                                                                                                                                                                                             